* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
body,
p {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}
.wrapper {
  max-width: 1430px;
  margin: auto;
  background-color: #f8f8f8;
  padding: 0 135px 142px 0px;
}
.content {
  display: flex;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  background-color: #cecece;
  padding-bottom: 210px;
  gap: 30px;
}

.watch__text {
  width: 135px;
  display: block;
  font-size: 24px;
  line-height: 45px;
  padding-bottom: 53px;
  font-weight: 300;
}
.watch__title {
  display: block;
  font-size: 250px;
  line-height: 230px;
  font-weight: 300;
  color: #272727;
}
.watch__info {
  display: block;
  max-width: 575px;
  width: 100%;
  padding-top: 43px;
  font-size: 32px;
  line-height: 50px;
  color: #161515;
  padding-bottom: 61px;
  font-weight: 300;
}

.buy {
  display: flex;
  justify-content: start;
  text-align: center;
  height: 82px;
  transition: 0.2s all ease-in-out;
}
.buy:hover {
  background-color: #ffffff;
}
.buy a {
  text-decoration: none;
  color: #ffffff;
  font-size: 32px;
  line-height: 29px;
  font-weight: 300;
  max-width: 278px;
  width: 100%;
  padding: 25px 50px;
  background-color: #161515;
  display: inline-block;
  transition: 0.3s all ease-in-out;
}

.buy a:hover {
  color: #161515;
  background-color: #ffffff;
  cursor: pointer;
}
.price {
  display: inline-block;
  background-color: #ffffff;
  color: #272727;
  font-size: 32px;
  line-height: 60px;
  font-weight: 300;
  padding: 13px 27px 31px 28px;
  max-width: 143px;
  transition: 0.3s all ease-in-out;
}
.price:hover {
  background-color: #161515;
  color: #ffffff;
}
.photo {
  max-width: 408px;
  width: 100%;
}
.ptoto__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.main {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}
.main__title {
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  font-weight: 300;
}
.main__subtitle {
  text-align: center;
  font-size: 72px;
  line-height: 81px;
  font-weight: 400;
  margin-bottom: 84px;
  margin-top: 0;
}
.main__picture1 {
  display: flex;
  max-width: 417px;
  width: 100%;
  background-color: #cecece;
  margin-inline: auto;
  padding: 110px 60px 110px 70px;
}
.main__picture1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main__picture1-info {
  display: flex;
  flex-direction: column;
  max-width: 531px;
  margin-inline: auto;
  margin-top: 67px;
}
.main__picture1-name {
  font-size: 32px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
}
.main__picture1-text {
  font-size: 32px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
}
.main__picture2 {
  display: flex;
  max-width: 496px;
  width: 100%;
  background-color: #cecece;
  margin-inline: auto;
  padding: 65px 2px;
  margin-top: 85px;
}
.main__picture2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main__picture2-info {
  display: flex;
  flex-direction: column;
  max-width: 510px;
  margin-inline: auto;
  margin-top: 67px;
}
.main__picture2-name {
  font-size: 32px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
}
.main__picture2-text {
  font-size: 32px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
}
.description {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 59px;
  max-width: 515px;
  margin-inline: auto;
}
.description__title {
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  font-weight: 400;
}
.description__text {
  font-size: 24px;
  line-height: 41px;
  font-weight: 300;
  text-align: center;
}
.description__text a {
  text-decoration: none;
  color: #bb8b5d;
  transition: 0.3s all ease-in-out;
}
.description__text a:hover {
  color: rgb(240, 114, 200);
}
.description__text::before {
  content: "";
  height: 1px;
  display: block;
  background-color: #616161;
  max-width: 150px;
  margin-bottom: 50px;
  margin-inline: auto;
}
@media (max-width: 992px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: auto;
    background-color: #cecece;
    padding-bottom: 210px;
    text-align: center;
  }
  .watch__title {
    font-size: 150px;
    text-align: center;
  }
  .watch__info {
    justify-content: center;
  }
  .photo {
    margin-inline: auto;
  }
  .watch {
    word-break: break-word;
  }
  .watch {
    order: 2;
  }
  .photo {
    order: 1;
  }
}
